
<div class="custom-body">
  <div class="custom-container mt-5 p-0">
    <div class="row no-gutters justify-content-center align-items-center">
      <div class="col-sm-12 text-center">
        <div class="custom-inner-container d-flex justify-content-center align-items-center position-relative flex-column">
          <div class="drop">
            <div class="content">
              <a class="sign-in-logo mb-5" href="#"><img src="<%= asset_path 'login/s.gif' %>" class="img-fluid" alt="logo"></a>
              <h1 class="mt-3 mb-0">Success !</h1>
              <p>A email has been send to <%= @email %>. Please check for an email from company and click on the included link to reset your password.</p>
              <div class="d-inline-block w-100">

                <a type="submit" class="btn btn-primary mt-3" href="<%= root_path %>">Back to Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .custom-body {
        background-image: url("<%= image_path("login3.jpg") %>");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        position: relative;
        z-index: 1;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
    }

    .custom-body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: -1;
    }

    .custom-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-container .drop {
        position: relative;
        width: 480px;
        height: 480px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), inset 5px 5px 5px rgba(0, 0, 0, 0.05), 35px 35px 50px rgba(0, 0, 0, 0.05), 25px 50px 30px rgba(0, 0, 0, 0.05), inset -5px -10px 25px rgb(255, 255, 255);
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 62% 38% 24% 76% / 59% 60% 40% 41%;
        background-color: transparent;
    }

    .custom-container .drop:hover {
        border-radius: 50%;
    }

    .custom-container .drop::before {
        content: '';
        position: absolute;
        top: 50px;
        left: 85px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.9;
    }

    .custom-container .drop::after {
        content: '';
        position: absolute;
        top: 85px;
        left: 110px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.9;
    }

    .custom-container .drop .content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 40px;
        gap: 15px;
    }

    .custom-container .drop .content h2 {
        position: relative;
        color: #333;
        font-size: 1.5em;
    }

    .custom-container .drop .content form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .custom-container .drop .content form .input-box {
        position: relative;
        width: 225px;
        box-shadow: inset 0px 5px 1px rgba(0, 0, 0, 0.1), inset -2px -5px 10px rgba(255, 255, 255, 1), 15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }

    .custom-container .drop .content form .input-box::before {
        content: '';
        position: absolute;
        top: 36px;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        height: 5px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
    }

    .size {
        font-size: 40px;
        color: whitesmoke;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .custom-container .drop .content form .input-box input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        font-size: 1em;
        padding: 10px 15px;
    }

    .custom-container .drop .content form .input-box input[type='submit'] {
        color: #fff;
        text-transform: uppercase;
        font-size: 1em;
        cursor: pointer;
        letter-spacing: 0.1em;
        font-weight: 500;
    }

    .custom-container .drop .content form .input-box:last-child {
        width: 100px;
        background: rgb(28, 97, 140);
        box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1), 15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
        transition: 0.5s;
    }

    .custom-container .drop .content form .input-box:last-child:hover {
        width: 150px;
    }

    .btn {
        width: 80px; /* Adjusted width for better visibility */
        height: 50px; /* Adjusted height */
        background: #00b4d8;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        line-height: 1.2em;
        letter-spacing: 0.1em;
        font-size: 0.8em;
        text-align: center;
        box-shadow: inset 10px 10px 10px rgba(0, 180, 216, 0.05), 15px 25px 10px rgba(0, 180, 216, 0.1), 15px 20px 20px rgba(0, 180, 216, 0.1), inset -10px -10px 15px rgba(255, 255, 255, 0.5);
        border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
        margin-left: 210px;
        margin-top: -220px; /* Adjusted margin top */
        transition: all 0.3s ease; /* Added transition */
        z-index: 1;
    }

    .btn:hover {
        background-color: #0d8ec2; /* Darker background on hover */
        transform: scale(1.55); /* Slightly scale up on hover */
    }

    .btn::before {
        content: '';
        position: relative;
        top: 15px;
        left: 30px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.45;
        border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
    }

    @media (max-width: 576px) {
        .btn {
            margin-left: 0;
            margin-top: -154px;
            width: 80px;
            margin-left: 215px;
        }

        .custom-container .drop {
            width: 350px;
            height: 350px;
        }

        .custom-container .drop .content form .input-box {
            width: 200px;
        }

        .custom-container .drop .content form .input-box:last-child {
            width: 120px;
        }

        .custom-container .drop .content form .input-box:last-child:hover {
            width: 130px;
        }

        .custom-container .drop::before{
            content: '';
            position: absolute;
            top: 10px;
            left: 85px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: #fff;
            opacity: 0.9;

        }

        .size {
            font-size: 30px;
        }
    }

</style>
